.accordion{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	.item{
		width: 100%;
		.header{
			margin: 0;
		}
		.trigger{
			width: 100%;
			text-align: left;
			display: flex;
			padding: 10px;
			background-color: var(--color-gray-100);
			
			border: 0;
			cursor: pointer;
			border: 1px solid transparent;
			transition: border-radius 40ms ease-out;
			&:hover{
				background-color: var(--color-gray-200);
			}
		}
		.headerText{
			flex-grow: 1;
		}
		.headerIcon{
			margin-right: 0;
			text-align: center;
			transition: transform 150ms ease-out;
		}
		.panel{
			background-color: var(--color-gray-50);
			padding: 10px;

			border: 1px solid var(--color-gray-100);
			border-top: 0;
			border-bottom-width: 0;
			
			box-sizing: border-box;
			height: var(--accordion-panel-height);
			overflow: hidden;
			transition: height 150ms ease-out;

			&[data-starting-style],
			&[data-ending-style] {
				height: 0;
			}
		}
		&[data-open]{
			.trigger{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				background-color: var(--color-gray-200);
				border-color: var(--color-gray-100);
			}
			.headerIcon{
				line-height: 12px;
				transform: rotate(180deg) scale(1.1);
			}
		}
		&:first-child{
			.trigger{
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
		}
		&:last-child{
			.panel{
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				border-bottom-width: 1px;
			}
			&:not([data-open]),&[data-childless]{
				.trigger{
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
			}
		}

	}

	&[data-separate]{
		.trigger{
			border-radius: 8px;
		}
		.panel{
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			border-color: var(--color-gray-200);
			border-bottom-width: 1px;
		}
		.item{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&[data-open]{
			.trigger{
				border-color: var(--color-gray-200);
			}
		}
	}
}
