@import 'theme.scss';

$CHECKBOX_SIZE: 25px;
$CHECKBOX_WIDTH: 45px;
$LABEL_MARGIN: 8px;

.switch{
	cursor: pointer;
	position: relative;
	display: flex;
	appearance: none;
	border: 0;
	margin: 0;
	padding: 2px;
	width: $CHECKBOX_WIDTH;
	height: $CHECKBOX_SIZE;
	border-radius: $CHECKBOX_SIZE;
	outline: 1px solid;
	outline-offset: -1px;
	background-color: transparent;
	background-image: linear-gradient(to right, var(--color-blue) 30%, var(--color-default) 65%);
	background-size: 10rem 100%;
	background-position-x: 100%;
	background-repeat: no-repeat;
	transition-property: background-position, box-shadow;
	transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
	transition-duration: 125ms;
	
	&:active {
		background-color: var(--color-default);
	}
	
	&[data-checked] {
		background-position-x: 0%;
	}
	
	&[data-checked]:active {
		background-color: var(--color-default);
	}
	
	box-shadow: oklch(12% 9% 264deg / 7%) 0 1.5px 2px inset;
	outline-color: oklch(12% 9% 264deg / 7%);
	
	&:focus-visible {
		&::before {
			content: '';
			inset: 0;
			position: absolute;
			border-radius: inherit;
			outline: 2px solid var(--color-blue);
			outline-offset: 2px;
		}
	}
}

.thumb{
	aspect-ratio: 1 / 1;
	height: 100%;
	border-radius: 100%;
	background-color: white;
	transition: translate 150ms ease;
	
	&[data-checked] {
		translate: calc($CHECKBOX_WIDTH - $CHECKBOX_SIZE) 0;
	}
	
	box-shadow:
		0 0 1px 1px oklch(12% 9.5% 264deg / 5%), 
		0 1px 1px oklch(12% 9.5% 264deg / 5%), 
		1px 2px 4px -1px oklch(12% 9.5% 264deg / 5%);
}

@each $name, $background, $color, $hover in $frontier-colors{
	.switch[data-color="#{$name}"]{
		background-image: linear-gradient(to right, $background 30%, var(--color-default) 65%);
		&:not([data-labeled]):hover{
			background-image: linear-gradient(to right, $hover 30%, var(--color-default-hover) 65%);
		}
	}
	.root:hover > .switch[data-labeled]{
		&[data-color="#{$name}"]{
			background-image: linear-gradient(to right, $hover 30%, var(--color-default-hover) 65%);
		}
	}
}

.root{
	display: flex;
	align-items: center;
}
.label{
	cursor: pointer;
	margin-left: $LABEL_MARGIN;
}