@import 'theme.scss';

$DEFAULT_COLOR: #fafafa;
$BORDER_COLOR: #e0e0e0;
$PLACEHOLDER_COLOR: #b4b4b4;

.root{
	margin-bottom: 10px;
}

.trigger{
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
	transition: all 200ms;
	border-radius: 8px;

	padding: 8px 10px;
	width: 100%;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	position: relative;

	display: flex;
	align-items: center;

	&[data-search]{
		padding: 0;
	}

	&:hover:not([disabled]):not([data-disabled]){
		border-color: darken($BORDER_COLOR, 5%);
	}

	&[disabled],&[data-disabled]{
		cursor: default;
		border-color: lighten($BORDER_COLOR, 5%);
		.text,.input,.iconRight{
			opacity: 0.5;
		}
	}

	&[data-type="error"]{
		background-color: var(--color-input-error-background);
		border: 1px solid var(--color-input-error-border);
		&:hover,&:has(.input[data-popup-open]){
			border-color: var(--color-input-error-border-hover) !important;
		}
		.iconRight,.iconLeft{
			color: var(--color-input-error-text);
			&[data-placeholder]{
				color: var(--color-input-error-placeholder);
			}
		}
		.text,.input{
			background-color: var(--color-input-error-background);
			color: var(--color-input-error-text);
			&[data-placeholder]{
				color: var(--color-input-error-placeholder);
			}
		}
		.input::placeholder{
			color: var(--color-input-error-placeholder);
		}
	}
	&[data-type="warning"]{
		background-color: var(--color-input-warning-background) !important;
		border: 1px solid var(--color-input-warning-border) !important;
		&:hover,&:has(.input[data-popup-open]){
			border-color: var(--color-input-warning-border-hover) !important;
		}
		.iconRight,.iconLeft{
			color: var(--color-input-warning-text);
			&[data-placeholder]{
				color: var(--color-input-warning-placeholder);
			}
		}
		.text,.input{
			background-color: var(--color-input-warning-background);
			color: var(--color-input-warning-text);
			&[data-placeholder]{
				color: var(--color-input-warning-placeholder);
			}
		}
		.input::placeholder{
			color: var(--color-input-warning-placeholder);
		}
	}
}

.comment{
	display: block;
	font-size: 14px;
	margin-left: 5px;
	margin-top: -5px;
	color: gray;

	&[data-type="error"]{
		color: var(--color-input-error-comment);
	}
	&[data-type="warning"]{
		color: var(--color-input-warning-comment);
	}
}

.iconRight{
	margin-right: 0;
	text-align: center;
	width: 14px;
	line-height: 12px;

	&[data-padding]{
		position: absolute;
		right: 10px;
	}
}

.text{
	flex-grow: 100;
	line-height: 22px;
	&[data-placeholder]{
		color: $PLACEHOLDER_COLOR;
		line-height: 22px;
	}
	&[data-empty]{
		height: 24px;
		line-height: 24px;
	}
}

.input{
	padding: 8px 10px;
	height: 40px;
	flex-grow: 100;
	border: 0;
	background-color: transparent;
	border-radius: 8px;
	transition: all 200ms;
	padding-right: 34px;
	transition: padding-left 150ms;

	&[data-loading]{
		padding-right: 10px;
	}
	&[data-icon]{
		padding-left: 32px;
	}
	&:focus{
		outline: none;
		border-color: transparent;
		background-color: transparent;
	}
	&[data-popup-open]{
		border-width: 0 !important;
	}
	&::placeholder{
		color: $PLACEHOLDER_COLOR;
	}
}

.iconLeft{
	margin-right: 6px;
	line-height: 17px;
	height: 16px;

	&[data-absolute]{
		position: absolute;
		left: 10px;
		height: 16px;
		line-height: 16px;
	}
	&[data-placeholder]{
		color: darken($PLACEHOLDER_COLOR, 10%);
	}
}

.label{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 2px;

	&[data-type="error"]{
		color: var(--color-input-error-label);
	}
	&[data-type="warning"]{
		color: var(--color-input-warning-label);
	}
}

.required{
	color: brown;
}

.trigger[data-popup-open],.trigger:has(.input[data-popup-open]),.popup{
	background-color: $POPUP_BACKGROUND;
	box-shadow: $POPUP_SHADOW;
	border: $POPUP_BORDER;
}

.popup{
	box-sizing: border-box;
	border-radius: 8px;
	
	width: var(--anchor-width);
	max-height: 23rem;
	max-width: var(--available-width);
	transition: opacity 0.1s, transform 0.1s;
	transform-origin: var(--transform-origin);
	min-width: 120px;

	overflow-y: auto;
	scroll-padding-block: 0.5rem;
	overscroll-behavior: contain;

	&[data-starting-style],
	&[data-ending-style] {
		opacity: 0;
		transform: scale(0.95);
	}

	&[data-fluid]{
		max-width: 100%;
		width: auto;
	}

	&[data-inline]{
		width: auto;
		display: inline-block;
	}
}

.empty{
	padding: 20px;
	text-align: center;
	color: $PLACEHOLDER_COLOR;
	&:empty{
		display: none;
	}
}

.list{
	padding: 2px 0;
}

.item{
	margin: 0 4px;
	padding: 2px 0;
	cursor: pointer;
	display: block;
	color: black;
	text-decoration: none;

	&:first-child{
		margin-top: 2px;
	}
	&:last-of-type{
		margin-bottom: 2px;
	}

	&[data-selected]{
		> .contents{
			background-color: rgba(0,0,0,0.08);
			font-weight: bold;
			.meta{
				font-weight: normal;
			}
		}
	}
	&:hover:not([data-disabled]){
		> .contents{
			color: black;
			background-color: rgba(0,0,0,0.05);
			&[data-selected]{
				background-color: rgba(0,0,0,0.1);
			}
		}
	}

	> .contents{
		border-radius: 6px;
		display: flex;
		align-items: center;
		padding: 8px 10px;
		width: 100%;
		> .text{
			flex-grow: 100;
		}
		.meta{
			font-size: 12px;
			color: gray;
		}
	
		> .itemIcon{
			margin-right: 8px;
		}
	}	
	&[data-disabled]{
		cursor: unset;
		user-select: none;
		color: gray;
	}
}

.separator{
	border-top: 1px solid var(--color-gray-200);
}

.submenuItem{
	display: flex;
	align-items: center;
	.text{
		flex-grow: 100;
	}
	.menuIcon{
		height: auto;
		margin-right: 0;
		margin-left: 10px;
	}
}

.itemIcon{
	margin-right: 8px;
	font-size: 14px;
	line-height: 14px;
	&[data-empty]{
		margin-right: 21px;
	}
}

.searchLoading{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.searchErrorIcon{
	height: 20px;
	line-height: 20px;
	margin-right: 0;
}


.toolbar{
	$BORDER_RADIUS: 12px;
	background-color: #F9FAFB;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: $BORDER_RADIUS;
	position: relative;
	display: flex;

	&[data-stretch]{
		justify-content: stretch;
		> .toolbarItem{
			width: 100%;
		}
	}

	> .toolbarItem{
		margin: 0;
		position: relative;
		user-select: none;
		padding: 10px 15px;
		min-width: 100px;
		text-align: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		text-decoration: none;
		color: black;

		&[data-disabled]{
			cursor: default;
			color: gray;
		}

		&:hover:not([data-disabled]),&[data-active]{
			background-color: darken(#F9FAFB, 3%);
		}

		&:first-of-type{
			border-top-left-radius: $BORDER_RADIUS;
			border-bottom-left-radius: $BORDER_RADIUS;
		}
		&:last-of-type{
			border-top-right-radius: $BORDER_RADIUS;
			border-bottom-right-radius: $BORDER_RADIUS;
		}
	}

	&[data-divided]{
		> .toolbarItem{
			border-right: 1px solid rgba(0,0,0,0.1);
		}
	}
}

.dropdownIcon{
	line-height: 14px;
	font-size: 14px;
	height: auto;
	margin-right: 0;
	margin-left: 8px;
}
.toolbarIcon{
	line-height: 14px;
	font-size: 14px;
	height: auto;
	margin-right: 8px;
	&[data-single]{
		margin-right: 0;
	}
}