/* ================================== */
/* GLOBAL */
/* ================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400%3B0,700%3B1,400%3B1,700&subset=latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');
html, body {
	height: 100%;
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-width: 320px;
	background: #FFFFFF;
	font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0, 0, 0, 0.87);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}