@use "sass:color";

$GROUPPER_PADDING: 20px;
$GROUPPER_SECTION_BORDER: 1px solid var(--color-gray-200);

.groupper{
	background-color: darken(white, 2%);
	// background-color: white;
	// padding: 3px 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	
	.contents{
		background-color: white;
		padding: $GROUPPER_PADDING;
		box-shadow:
			0px 0px 0px 1px rgba(0, 0, 0, 0.02),
			0px 1px 2px -1px rgba(0, 0, 0, 0.02),
			0px 2px 4px 0px rgba(0, 0, 0, 0.01);

		> .divider{
			$DIVIDER_BORDER: 1px solid rgba(0, 0, 0, 0.1);
			height: 1px;
			border-top: $DIVIDER_BORDER;
			width: calc(100% + $GROUPPER_PADDING * 2);
			margin: 20px 0 20px calc($GROUPPER_PADDING * -1);

			&[data-type="dashed"]{
				border-top-style: dashed;
			}
			&[data-type="dotted"]{
				border-top-style: dotted;
			}
			&[data-type="text"]{
				height: auto;
				background-color: darken(white, 1%);
				border-top: $DIVIDER_BORDER;
				border-bottom: $DIVIDER_BORDER;
				padding: 5px 12px;
				font-weight: bold;
				width: calc(100% + 24px);
				&[data-centered]{
					text-align: center;
				}
				&[data-top]{
					margin-top: -12px;
					border-top: 0;
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
				}
			}
			&[data-type="line text"]{
				border-top: none;
				height: auto;
				display: flex;
				align-items: center;
				.text{
					margin: 0 15px;
					color: gray;
				}
				.line{
					flex-grow: 100;
					height: 1px;
					border-top: $DIVIDER_BORDER;
				}
			}
		}

		:global(table){
			&[data-fitted]{
				margin: 0 -20px;
				width: calc(100% + calc($GROUPPER_PADDING * 2));

				&:global(.first){
					margin-top: -20px;
				}
				&:global(.last){
					margin-bottom: -20px;
				}
			}
		}

		> :global(.first){
			margin-top: -20px;
		}
		> :global(.last){
			margin-bottom: -20px;
		}

		:global(.toolbar){
			border-radius: 0;	
			box-shadow: none;
			border-left: 0;
			border-right: 0;
			border-top: 0;

			margin: -$GROUPPER_PADDING;
			margin-bottom: $GROUPPER_PADDING;

			> :global(.item){
				border-radius: 0;
			}
		}

		&[data-fitted]{
			padding: 0;
			> .divider{
				margin-left: 0;
				width: 100%;
				&[data-type="text"]{
					margin-top: 0;
				}
			}

			:global(.toolbar){
				margin: 0;
				border-radius: 0;
			}
			:global(table){
				margin: 0 !important;
				width: 100% !important;
				border-radius: 0;
				box-shadow: none;
			}
		}
	}

	.actions{
		text-align: right;
		padding: 8px 6px;
		border-top: $GROUPPER_SECTION_BORDER;
		> * {
			line-height: 12px;
		}
	}
	.title{
		// width: calc(100% + 6px);
		width: 100%;
		padding: 10px 14px;
		display: flex;
		align-items: center;
		border-bottom: $GROUPPER_SECTION_BORDER;

		> .text{
			text-transform: uppercase;
			text-align: left;
			font-size: 18px;
			line-height: 18px;
			color: rgba(0, 0, 0, 0.8);
			font-weight: bold;
		}

		> :first-child{
			flex-grow: 100;
		}

		:global(.button){
			line-height: 12px;
			font-size: 12px;
			padding: 6px;
			min-width: 80px;
		}

		&[data-size="small"] > .text{
			font-size: 16px;
			line-height: 16px;
		}
		&[data-size="big"] > .text{
			font-size: 28px;
			line-height: 28px;
			text-transform: none;
		}
		&[data-centered] > .text{
			text-align: center;
		}
	}
}