@use "sass:color";
@import 'theme.scss';

$header-sizes:
	"small" 21 0.7em 24 3,
	"normal" 28 0.5em 32 1,
	"big" 56 16px 48 -1,
	"huge" 70 20px 64 -3,
;

.header{
	position: relative;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 28px;

	display: flex;
	flex-direction: column;
	
	
	.text{
		color: black;
		font-size: 1em;
		line-height: 1em;
		font-weight: bold;
	}
	.subtext{
		color: gray;
		font-size: 0.5em;
		line-height: 1em;
		margin-top: 3px;
		font-weight: normal;
	}
	.icon{
		font-size: 32px;
		line-height: 32px;
		margin-right: 0;
		margin-bottom: 3px;
	}
	.actions{
		margin-top: 10px;
		text-align: center;
		font-size: 1rem;
	}
	&[data-centered]{
		align-items: center;
	}
	// &[data-loading]{
	// 	.text{
	// 		// margin-top: 10px;
	// 	}
	// }

	@each $name, $size, $subsize, $iconsize, $margin in $header-sizes{
		&[data-size="#{$name}"]{
			font-size: #{$size}px;
			.subtext{
				font-size: $subsize;
				line-height: $subsize;
			}
			.icon{
				margin-bottom: #{$margin}px;
				line-height: #{$iconsize - 2}px;
				font-size: #{$iconsize}px;
				text-align: center;
			}
			&[data-loading]{
				.text{
					margin-top: #{$margin}px;
				}
			}
		}
	}

	@each $name, $background, $color, $hover in $frontier-colors{
		&[data-color="#{$name}"]{
			.text{
				color: $color;
			}
			.subtext{
				color: $color;
			}
		}
	}
}