@use "sass:color";
@import 'theme.scss';

$header-sizes:
	"small" 21 21 0.7em 2 24 3 3,
	"normal" 28 28 0.5em 2 32 1 5,
	"big" 56 56 0.3em 0 48 -1 0,
	"huge" 70 70 0.3em 5 64 -2 0,
;

.header{
	position: relative;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 28px;

	display: flex;
	flex-direction: column;
	
	.text{
		color: black;
		font-size: 1em;
		line-height: 1em;
		font-weight: bold;
	}
	.subtext{
		color: gray;
		font-size: 0.5em;
		line-height: 1em;
		margin-top: 3px;
		font-weight: normal;
	}
	.icon{
		font-size: 32px;
		line-height: 32px;
		margin-right: 0;
		margin-bottom: 3px;
	}
	.actions{
		margin-top: 10px;
		text-align: center;
		font-size: 1rem;
	}
	&[data-centered]{
		align-items: center;
	}
	&[data-loading]{
		.text{
			color: #888;
		}
	}

	@each $name, $size, $lineheight, $subsize, $submargin, $iconsize, $margin, $loadermargin in $header-sizes{
		&[data-size="#{$name}"]{
			font-size: #{$size}px;
			.text{
				line-height: #{$lineheight}px;
			}
			.subtext{
				font-size: $subsize;
				line-height: 1em;
				margin-top: #{$submargin}px;
			}
			.loader{
				margin-bottom: #{$loadermargin}px;
			}
			.icon{
				margin-bottom: #{$margin}px;
				line-height: #{$iconsize - 2}px;
				font-size: #{$iconsize}px;
				text-align: center;
			}
			&[data-loading]{
				.text{
					margin-top: #{$margin}px;
				}
			}
		}
	}

	@each $name, $background, $color, $hover in $frontier-colors{
		&[data-color="#{$name}"]{
			.text{
				color: $color;
			}
			.subtext{
				color: $color;
			}
		}
	}
}