$BORDER_RADIUS: 8px;

.root{
	position: relative;
	margin-bottom: 10px;
	.input{
		font-size: 14px;
		padding: 10px;
		background-color: #fafafa;
		border: 1px solid #e0e0e0;
		transition: all 200ms;
		border-radius: $BORDER_RADIUS;
		&:hover{
			border: 1px solid #cacaca;
		}
		&::placeholder{
			color: #b4b4b4;
		}
	}
	.input:focus,&[data-selected] .input{
		background-color: white;
		box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);
		transition: all 200ms;
		outline: none;
	}

	&[data-actions] > .content{
		display: flex;
		.input{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		> .actions{
			display: flex;
			> * {
				border-radius: 0 !important;
				border-right: 1px solid #e0e0e0;
				&:global(.fr.button){
					min-width: 80px;
				}
				&:last-child{
					border-right: 0;
					border-top-right-radius: $BORDER_RADIUS !important;
					border-bottom-right-radius: $BORDER_RADIUS !important;
				}
			}
		}
	}

	&[data-fluid]{
		width: 100%;
		display: block;
		position: relative;
		input,textarea{
			width: 100%;
		}
	}
	&[data-icon]{
		.icon{
			position: absolute;
			// padding: 10px;
			width: 35px;
			height: 40px;
			line-height: 38px;
			padding-left: 3px;
			text-align: center;
			// padding-top: 9px;
			margin-right: 0;

			&[data-placeholder]{
				color: gray;
			}
		}
		.input{
			padding-left: 35px;
		}
	}
	&[data-loading]{
		.loader{
			position: absolute;
			height: 38px;
			width: 40px;	
		}
	}
}

.root,.field{
	.label{
		display: block;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 2px;
		margin-left: 5px;
	}
	.comment{
		display: block;
		font-size: 14px;
		margin-left: 5px;
		margin-top: -5px;
		color: gray;
	}
	.required{
		color: brown;
	}
}

.positioner{
	width: var(--positioner-width);
	height: var(--positioner-height);
	max-width: var(--available-width);
}

.popup{
	box-sizing: border-box;
	border-radius: 12px;
	overflow: hidden;
	background-color: canvas;
	color: var(--color-gray-900);
	transform-origin: var(--transform-origin);
	transition: transform 150ms, opacity 150ms;


	box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	
	width: var(--popup-width, auto);
	height: var(--popup-height, auto);
	width: 320px;
	
	&[data-starting-style],
	&[data-ending-style] {
		opacity: 0;
		transform: scale(0.9);
	}
}

.root,.field{
	&[data-type="error"]{
		.input{
			background-color: var(--color-input-error-background);
			border: 1px solid var(--color-input-error-border);
			color: var(--color-input-error-text);
			&::placeholder{
				color: var(--color-input-error-placeholder);
			}
		}
		.icon{
			color: var(--color-input-error-text);
			&[data-placeholder]{
				color: var(--color-input-error-placeholder);
			}
		}
		.comment{
			color: var(--color-input-error-placeholder);
		}
		.label{
			color: var(--color-input-error-label);
		}
	}
	&[data-type="warning"]{
		.input{
			background-color: var(--color-input-warning-background);
			border: 1px solid var(--color-input-warning-border);
			color: var(--color-input-warning-text);
			&::placeholder{
				color: var(--color-input-warning-placeholder);
			}
		}
		.icon{
			color: var(--color-input-warning-text);
			&[data-placeholder]{
				color: var(--color-input-warning-placeholder);
			}
		}
		.comment{
			color: var(--color-input-warning-placeholder);
		}
		.label{
			color: var(--color-input-warning-label);
		}
	}
}


.field{
	margin-bottom: 10px;
	> .content{
		display: flex;
		gap: 5px;
		.root{
			position: relative;
			margin-bottom: 0;
			.input{
				width: 100%;
			}
		}

		@for $count from 1 through 10{
			&[data-amount="#{$count}"]{
				.root{
					width: #{100% / $count};
				}
			}
		}

	}
}