$SITE_COLOR: #f0f0f0;
$BORDER: 1px solid darken($SITE_COLOR, 5);
$HEADER_HEIGHT: 50px;

.root{
	width: 100vw;
	height: 100vh;
	background-color: $SITE_COLOR;
	overflow: hidden;
	display: flex;

	.sidebar{
		width: 220px;
		min-width: 220px;
		background-color: darken($SITE_COLOR, 1);
		height: 100vh;
		border-right: $BORDER;
		display: flex;
		flex-direction: column;

		> .contents{
			padding: 15px;
			flex-grow: 100;

			overflow-y: scroll;
			overflow-x: hidden;

			.item{
				display: flex;
				align-items: center;
				padding: 0 15px;
				color: rgb(93, 93, 93);
				height: 35px;
				line-height: 24px;
				margin-bottom: 5px;
				font-size: 13px;
				cursor: pointer;
				border-radius: 8px;
				text-decoration: none;

				> :global(.fr.icon){
					line-height: 12px;
					margin-right: 10px;
				}

				&[data-active]{
					color: black;
					background-color: darken($SITE_COLOR, 5);
					font-weight: bold;
					font-size: 13px
				}

				&:hover{
					background-color: darken($SITE_COLOR, 5);
				}
			}
		}
	}

	.header{
		display: block;
		height: $HEADER_HEIGHT;
		max-height: $HEADER_HEIGHT;
		width: 100%;
		border-bottom: $BORDER;
		background-color: darken($SITE_COLOR, 1);
		text-decoration: none;
		color: black;

		.text{
			text-align: center;
			line-height: $HEADER_HEIGHT;
			font-size: 20px;
			font-weight: bold;
		}
		&.icon{
			text-align: center;
			img{
				margin: 5px 10px;
				padding: 10px 5px;
				height: 20px;
				width: calc(100% - 30px);
				object-fit: contain;
				border-radius: 6px;
				
				&:hover{
					cursor: pointer;
					background-color: darken($SITE_COLOR, 5);
				}
			}
		}
	}

	> .contents{
		flex-grow: 100;
		> .header .text{
			text-align: left;
			margin-left: 15px
		}
		> .contents{
			padding: 15px;
			overflow-y: scroll;
			height: calc(100vh - $HEADER_HEIGHT);
		}
	}
}