@use "sass:color";

:root{
	$COLOR_DEFAULT: #E5E7EB;
	--color-default: #{$COLOR_DEFAULT};
	--color-default-text: #4B5563;
	--color-default-hover: #dadfe6;

	$COLOR_GREEN: #1EAA6F;
	--color-green: #{$COLOR_GREEN};
	--color-green-text: white;
	--color-green-hover: #{darken($COLOR_GREEN, 5%)};

	$COLOR_RED: #EF4444;
	--color-red: #{$COLOR_RED};
	--color-red-text: white;
	--color-red-hover:  #e64343;

	$COLOR_PURPLE: #704FAF;
	--color-purple: #{$COLOR_PURPLE};
	--color-purple-text:  white;
	--color-purple-hover: #{darken($COLOR_PURPLE, 5%)};

	$COLOR_BLACK: #151717;
	--color-black: #{$COLOR_BLACK};
	--color-black-text:  white;
	--color-black-hover: #{lighten($COLOR_BLACK, 10%)};

	$COLOR_BLUE: #4d6adf;
	--color-blue: #{$COLOR_BLUE};
	--color-blue-text:  white;
	--color-blue-hover: #{darken($COLOR_BLUE, 10%)};

	$COLOR_ORANGE: #F37435;
	--color-orange: #{$COLOR_ORANGE};
	--color-orange-text:  white;
	--color-orange-hover: #{darken($COLOR_ORANGE, 5%)};

	$COLOR_WHITE: #f5f5f5;
	--color-white: #{$COLOR_WHITE};
	--color-white-text:  black;
	--color-white-hover: #{darken($COLOR_WHITE, 5%)};

	$COLOR_YELLOW: #FFEA03;
	--color-yellow: #{$COLOR_YELLOW};
	--color-yellow-text:  black;
	--color-yellow-hover: #{lighten($COLOR_YELLOW, 15%)};

	--color-gray-50: oklch(98% 0.25% 264deg);
	--color-gray-100: oklch(12% 9.5% 264deg / 5%);
	--color-gray-150: oklch(12% 9.25% 264deg / 6%);
	--color-gray-200: oklch(12% 9% 264deg / 7%);
	--color-gray-250: oklch(12% 8.75% 264deg / 10%);
	--color-gray-300: oklch(12% 8.5% 264deg / 17%);
	--color-gray-400: oklch(12% 8% 264deg / 38%);
	--color-gray-500: oklch(12% 7.5% 264deg / 50%);
	--color-gray-600: oklch(12% 7% 264deg / 67%);
	--color-gray-700: oklch(12% 6% 264deg / 77%);
	--color-gray-800: oklch(12% 5% 264deg / 85%);
	--color-gray-900: oklch(12% 5% 264deg / 90%);
	--color-gray-950: oklch(12% 5% 264deg / 95%);
}
$frontier-colors:
	"green" var(--color-green) var(--color-green-text) var(--color-green-hover),
	"red" var(--color-red) var(--color-red-text) var(--color-red-hover),
	"purple" var(--color-purple) var(--color-purple-text) var(--color-purple-hover),
	"black" var(--color-black) var(--color-black-text) var(--color-black-hover),
	"blue" var(--color-blue) var(--color-blue-text) var(--color-blue-hover),
	"orange" var(--color-orange) var(--color-orange-text) var(--color-orange-hover),
	"white" var(--color-white) var(--color-white-text) var(--color-white-hover),
	"yellow" var(--color-yellow) var(--color-yellow-text) var(--color-yellow-hover),
;